version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: microservices_db
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=auth_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  auth-service:
    build: ./auth-service
    container_name: auth_service
    ports:
      - "8000:8000"
    volumes:
      - ./auth-service:/app
    depends_on:
      - db
    networks:
      - app-network

  products-service:
    build: ./products-service
    container_name: products_service
    ports:
      - "8001:8000"
    volumes:
      - ./products-service:/var/www
    depends_on:
      - db
    networks:
      - app-network

  inventory-service:
    build: ./inventory-service
    container_name: inventory_service
    ports:
      - "8002:8000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend_service
    ports:
      - "8080:8080"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - app-network

  orders-service:
    build: ./orders-service
    container_name: orders_service
    ports:
      - "8003:8080"
    networks:
      - app-network

  payments-service:
    build: ./payments-service
    container_name: payments_service
    ports:
      - "8004:3000"  
    networks:
      - app-network

  notifications-service:
    build: ./notifications-service
    container_name: notifications_service
    ports:
      - "8005:8080"  
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: